.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    padding: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}
.main img{
    margin-bottom: 10px;
}
.main-dropdown{
    margin: 15px;
}
.main-btn{
    margin: 10px;
}